.container {
  width: 80%;
  background-color: bisque;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
}

.box {
  width: 30%;
  height: 50px;
  background-color: green;
  margin-right: 5%;
  border: 1px solid black;
  box-sizing: border-box;
}
